P

{
    color:rgb(213, 225, 230);
    font-size:large;
    font-weight:bold;
}

body
{
    background-color: rgb(21, 34, 49);
}

div
{
    max-width: 700px;
}

#tytul
{
font-size: xx-large;

}

